# ======= settings above this line have been added automatically =======
# uncomment settings here, these override the settings in defaults.cfg

# scriptPath = /home/brewpi/
# wwwPath = /var/www/html
# port = /dev/ttyACM0
# altport = /dev/ttyACM1
# boardType = p1
# startupDelay = 1.0
# debug = true

# On a standard pi installation, the defaults should work.
# If you are using a different linux flavor or Windows, you can set the tool locations here

# on Windows, the scripts defaults to an Internet socket instead of a system socket.
# useInetSocket=true
# socketPort=6332
# socketHost=127.0.0.1

